<!-- <div class="login-container">
    <h1>Login</h1>
    <form (submit)="login()">
      <div>
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          required
        />
      </div>
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>
      <button type="submit">Login</button>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
   -->
   <div class="login">
   <div class="login-container">
  
    <img class="" src="logo-trailSure.svg" alt="login logo" title="login"/>
    <h1>Login</h1>
    <form (submit)="login()">
      <div>
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          required
        />
      </div>
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>
      <button type="submit">Login</button>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  </div>
  